@font-face {
  font-family: 'OKFocusRegular';
src: url('http://s3.amazonaws.com/redbull-tokyo/fonts/okfocus-regular-webfont.eot');
font-weight: normal;
}
@font-face {
  font-family: 'OKFocusRegular';
src: url('http://s3.amazonaws.com/redbull-tokyo/fonts/okfocus-regular-webfont.woff') format('woff'),
url('http://s3.amazonaws.com/redbull-tokyo/fonts/okfocus-regular-webfont.svg#okfocus-regular-webfont') format('svg');
font-weight: normal;
}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.mx-object3d { -webkit-transform-style: preserve-3d; transform-style: preserve-3d; }
html,body{ margin: 0; padding: 0; width:100%;height:100%;}
body {
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 1000px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow:hidden;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	cursor:crosshair;
	font-family:sans-serif;
	background-color: white;
}
.text {
	font-size: 100px;
	color: white;
}
#promo {
	position: fixed;
	bottom: 10px;
	left: 50%;
	width: 300px;
	margin-left: -150px;
}
#promo a {
	display: block;
	width: 300px;
	height: 50px;
	text-align: center;
	font-size: 18px;
	font-family: 'OKFocusRegular';
	color: black;
	text-shadow: 0 0 3px #fff;
	text-decoration: none;
}
.fb-like {
	position: fixed;
	top: 20px;
	left: 20px;
}